
body,
html {
  width: 100%;
  height: 100%; 
}

body {
  font-family: 'Montserrat', sans-serif;
}

hr {
  max-width: 65px;
  border-width: 3px;
  border-color: #F05F44; 
}

.faded {
  color: rgba(255, 255, 255, 0.8); 
}

header.startup {
  background-position: center;
  display: flex;
  align-items: flex-start;
  background-image: url("laptop.jpg");
  background-size: cover;
  height: 100%;
  width: 100%
  border: 0% 25%;
}

header.startup hr {
  margin-top: 300px;
  margin-bottom: 100px; 
}

header.startup h1 {
  font-size: 2rem; 
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  border-radius: 150px;
  }

.btn-lg {
  padding: 1rem 2rem; 
}

.btn-default {
  background-color: #FF3616;
  border-color: #FF3616;
}

.btn-default:hover {
  background-color: #FF3616;
  border-color: #FF3616;
  border-width: 5px;
  cursor: pointer;
}
  