body {
  margin: 0;
  padding: 0;
  background: rgb(2,0,36);
  background: rgb(2,0,36);
  background: rgb(2,0,36);
  background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(102,9,121,1) 100%, rgba(0,212,255,1) 100%);
}

button {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
